::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f4f4f4;
}
::-webkit-scrollbar-track {
  background: #545454;
}

/* HOME */
.features article {
  transition: .3s all linear;
}

.features article:hover {
  transform: translateY(-10px)
}


#header ul {
  width: 100%;
  margin-left:236px;
  list-style: none;
  display: flex;
  position: absolute;
  display: none;
}

#header ul li{
  margin-left: 12px;
}

#header h1{
  display: flex;
  width: 100%;
}

#header ul li a{
  transition: all linear .3s;
}

#header ul li a:hover{
  opacity: .8;
  border-bottom: 1px solid #fff;
}



@media only screen and (min-width: 1200px) {
  #header nav {display:none;}
  #header ul {display: flex;}
}



#button {
  display: inline-block;
  background-color: #435ca6;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #3F4E85;
}
#button.show {
  opacity: 1;
  visibility: visible;
}



.link--blog{
  align-self: flex-end !important;
  background: #435ca6;
  border-radius: 20px;
  padding:6px 14px;
  color: #f1f1f1;
  /* margin-left:280px !important; */
}
.link--blog:hover{
  border:none !important;;
  /* color:#323232 !important; */
}