::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f4f4f4;
}
::-webkit-scrollbar-track {
  background: #545454;
}

/* HOME */
.features article {
  transition: .3s all linear;
}

.features article:hover {
  transform: translateY(-10px)
}


#header ul {
  margin-left:236px;
  list-style: none;
  display: flex;
  position: absolute;
  display: none;
}

#header ul li{
  margin-left: 12px;
}

#header h1{
  display: flex;
}

#header ul li a{
  transition: all linear .3s;
}

#header ul li a:hover{
  opacity: .8;
  border-bottom: 1px solid #fff;
}



@media only screen and (min-width: 1200px) {
  #header nav {display:none;}
  #header ul {display: flex;}
}