::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f4f4f4;
}
::-webkit-scrollbar-track {
  background: #545454;
}

/* HOME */
.features article {
  transition: .3s all linear;
}

.features article:hover {
  transform: translateY(-10px)
}

